</div>
<footer>
    <div class="footer-container">
        <ul class='footer-category footer-category--sitemap'>
            <li class="footer-item footer-item-title">
                imetomi.com
            </li>
            <li class="footer-item">
                <a href="/about">About</a>
            </li>
            <li class="footer-item">
                <a href="/writings">Writings</a>
            </li>
            <li class="footer-item">
                <a href="/contact">Contact</a>
            </li>
        </ul>
        <ul class='footer-category footer-category--socials'>
            <li class="footer-item footer-item-title">
                Socials
            </li>
            <li class="footer-item">
                <a href="https://github.com/imetomi">Github</a>
            </li>
            <li class="footer-item">
                <a href="https://www.instagram.com/imetstamas/">Instagram</a>
            </li>
            <li class="footer-item">
                <a href="https://www.linkedin.com/in/tam%C3%A1s-imets-9a276b21a/">Linkedin</a>
            </li>
        </ul>
        <ul class='footer-category footer-category--siteby'>
            <li class="footer-item footer-item-title">
                Site by <a href="https://zoltan.digital">zoltan.digital</a>
            </li>
        </ul>
    </div>
</footer>
</div>
{{ "<!-- Legnagyobb erősségemnek a szociális és kognitív képességeim egyensúlyát tartom. Ennek köszönhetően könnyedén, közérthetően át tudom adni a szakmai gondolatokat, akár laikusoknak is.  -->" | safeHTML }}
<script>
    var toggle = document.getElementsByClassName("hamburger")[0];
    var menu = document.getElementsByClassName("nav-right")[0];
    toggle.addEventListener("click", function () {
        menu.classList.toggle("shown");
        toggle.classList.toggle("is-active");
    }, false);
</script>