@import url('https://rsms.me/inter/inter.css');
@import 'hamburger.scss';

// fonts
$font-family: 'Inter', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors

$white: #FFFFFF;
$grey-100: #F7F7F7;
$grey-200: #E1E1E1;
$grey-300: #CFCFCF;
$grey-400: #B1B1B1;
$grey-500: #9E9E9E;
$grey-600: #7E7E7E;
$grey-700: #626262;
$grey-800: #515151;
$grey-900: #3B3B3B;
$grey-1000: #222222;
$purple-500: #5D55FA;

// sizes

$width: 800px;
$gutter: 20px;
$column: ($width / 2) - $gutter / 2;

// Extends
// @extend %small-date;


%small-date {
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
}

// columns

.c-marginRight {
  margin-right: $gutter;
}

/* normalize start */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* normalize end */

body {
    font-family: $font-family;
    color: $grey-900;
    font-feature-settings: 'liga' 1;
}

a {
    text-decoration: none;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: $width;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 32px;
}

footer {
    background-color: $grey-100;
    width: 100%;
    padding: 32px;
    .footer-container {
        margin: 0 auto;
        display: flex;
        max-width: 800px;
        justify-content: space-between;
        
        .footer-category {
            @extend %small-date;
        }

        .footer-item {
            margin-bottom: 12px;
            a {
                color: $grey-600;
            }
            a:hover {
                color: $grey-900;
            }
        }

        .footer-item-title {
            color: $grey-900;
            margin-bottom: 20px;
            a {
                color: $grey-900;
                text-decoration: underline;;
            }
        }

    }
}

nav {
    font-weight: $font-weight-semibold;
    ul {
        display: flex;
        justify-content: space-between;
    }
    .nav-right {
        a {
            color: $grey-600;
        }
        a:hover {
            color: $grey-900;
        }
    }
    .current-nav {
        a {
            color: $grey-900;
        }
    }
    li {
        display: inline-block;
        text-transform: uppercase;
        color: $grey-600;
        font-size: 16px;
    }
    .hamburger {
        padding: 16px;
        display: none;
    }
}

.nav-right {
    li {
        margin-left: 32px;
    }
}

.current-nav {
    color: $grey-900;
}

.content {
    padding-bottom: 64px;
    width: $width;
    margin: 0 auto;
    flex: 1 1 0%;
}

.intro-container {
    background-color: rgba($purple-500, .1);
    padding: 32px;
    border-radius: 8px;
}

.intro-text {
    font-size: 18px;
    color: $purple-500;
    line-height: 1.5;
}

.writings-container {
    width: 100%;
}

.project {
    width: 100%;
    height: 520px;
    margin-bottom: 32px;
    padding: 32px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-date {
    @extend %small-date;
    color: #fff;
    margin-bottom: 8px;
}

.project-title {
    font-size: 28px;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 12px;
    font-weight: $font-weight-semibold;
}

.project-description {
    font-size: 16px;
    color: #fff;
    font-weight: $font-weight-regular;
    line-height: 1.3;
}

.project-updates-title {
    color: $grey-600;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
}

.project-updates-updates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-update {
    width: $column;
    height: 347px;
    border: 1px solid $grey-300;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 32px;
    position: relative;
}

.project-update:hover .project-update-goto {
    text-decoration: underline;
}

.project-update-date {
    @extend %small-date;
    color: $grey-600;
    margin-bottom: 8px;
}

.project-update-title {
    font-size: 18px;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    margin-bottom: 24px;
    color: $grey-1000;
}

.project-update-description {
    line-height: 1.5;
    color: $grey-900;
    font-size: 16px;
}

.project-update-goto {
    font-size: 18px;
    color: $grey-1000;
    font-weight: $font-weight-medium;
    position: absolute;
    bottom: 32px;
}

// project start

.project-article {
    .project-image {
        border-radius: 8px;
        height: 520px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        // width: 140%;
        // margin-left: -20%;
    }

    .title-container {
        margin-top: 48px;
        margin-bottom: 64px;
    }

    .title {
        font-size: 36px;
        letter-spacing: -0.03em;
        font-weight: $font-weight-medium;
        text-align: center;
        color: $grey-1000;
        margin-bottom: 12px;
    }
    
    .date {
        @extend %small-date;
        text-align: center;
        color: $grey-600;
    }

    .content {
        p {
            font-size: 20px;
            margin-bottom: 20px;
            color: $grey-900;
            line-height: 1.5;
        }

        h2, h3, h4, h5, h6 {
            color: $grey-900;
            margin-top: 32px;
            margin-bottom: 20px;
            font-weight: $font-weight-medium;
        }

        h2 {
            font-size: 28px;
            letter-spacing: -0.02em;
        }

        h3 {
            font-size: 20px;
            letter-spacing: -0.01em;
        }

        a {
            color: $purple-500;
        }

        a:hover {
            text-decoration: underline;
        }

        blockquote {
            padding: 0 64px;
            p {
                color: $grey-600;
                font-style: italic;
                margin-bottom: 12px;
            }
            margin: 40px 0;
        }

        img {
            width: 100%;
        }

        pre {
            font-family: monospace;
            padding: 24px;
            background-color: $grey-100;
            line-height: 1.3;
            margin: 40px 0;
            font-size: 16px;
            overflow-x: auto;
        }

        ul {
            list-style: disc;
            margin-bottom: 40px;
        }

        ol {
            list-style: decimal;
        }

        ol, ul {
            margin-top: -12px;
        }
        
        li {
            font-size: 18px;
            color: $grey-900;
            margin-left: 32px;
            line-height: 1.5;
        }
    }
}

// project end

// about start

.about-pic-container {
    height: 520px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-info {
    width: 100%;
    padding: 32px;
    border: 1px solid $grey-300;
    border-radius: 8px;
    p {
        line-height: 1.5;
        font-size: 18px;
        color: $grey-900;
        margin-bottom: 20px;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    a {
        color: $purple-500;
    }
    a:hover {
        text-decoration: underline;
    }
}

// about end

// contact start

.contact-text-container {
    background-color: rgba($purple-500, .1);
    padding: 32px;
    border-radius: 8px;
    margin-bottom: 20px;
    p {
        line-height: 1.5;
        color: $purple-500;
        font-size: 18px;
    }
}

.contact-form-container {
    form {
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;
            font-size: 18px;
            color: $grey-800;
        }
        input, textarea {
            margin-bottom: 20px;
            border-radius: 4px;
            background-color: #fff;
            border: 1px solid $grey-300;
            font-size: 18px;
            font-family: $font-family;
            color: $grey-900;
        }
        input:focus, textarea:focus {
            border-color: $grey-600;
        }
        input {
            padding: 12px 16px;
            width: $column;
        }
        textarea {
            padding: 16px;
            height: 240px;
            max-width: 600px;
        }
        button {
            padding: 12px 16px;
            width: 160px;
            background-color: #5C51E0;
            color: #fff;
            font-family: $font-family;
            border-radius: 4px;
            font-size: 18px;
            font-weight: $font-weight-medium;
            border: none;
            cursor: pointer;
        }
    }
}

// contact end

.shown {
    display: block !important;
}

@media screen and (max-width: 820px) {
    header {
        width: 100%;
        padding: 32px 16px 24px 16px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        .nav-right {
            display: none;
            margin-left: 20px
        }
        li {
            display: block;
            margin-left: 0 !important;
            margin-bottom: 16px;
        }
        li:last-of-type {
            margin-bottom: 0;
        }
    }

    nav .hamburger {
        display: block;
        padding: 0;
        height: 19px;
    }
    

    .content {
        width: 100%;
        padding: 0 20px;
        padding-bottom: 32px;
    }

    // index start

    .intro-container {
        padding: 20px;
    }

    .project {
        height: 400px;
        // border-radius: 0;
        padding: 20px;
    }

    .project-update {
        padding: 20px;
    }

    .project-updates-updates {
        flex-direction: column;
        a {
            width: 100%;
            article {
                width: 100%;
                height: auto;
                min-height: 240px;
            }
        }

        a:last-of-type {
            article {
                margin-bottom: 0;
            }
        }
    }

    .project-update-goto {
        display: none;
        position: relative;
        bottom: 32px;
        margin-top: 32px;
    }

    // index end

    // about start

    .about-pic-container {
        height: 400px;
        // border-radius: 0;
        margin-bottom: 0;
    }
    
    .about-info {
        border: none;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0;
        padding: 20px;

        article {
            width: 100%;
            height: auto;
            min-height: 240px;
        }
    }
    
    .about-info:last-of-type {
        margin-bottom: 0;
    }

    // about end
    
    // contact start

    .contact-text-container {
        padding: 20px;
    }

    .contact-form-container {
        form {
            input, textarea, button {
                max-width: none;
                width: 100%;
            }
        }
    }
    
    // contact end

    // project start

    .project-article {
        .project-image {
            border-radius: 0;
            height: 400px;
        }
        .title-container, .content {
            padding: 0 16px;
        }
        .content {
            blockquote {
                padding: 0 16px;
            }
        }
    }
    
    // project end
}

@media screen and (max-width: 480px) {
    footer {
        .footer-container {
            flex-direction: column;
            .footer-category {
                margin-bottom: 20px;
            }
            .footer-category--siteby {
                margin: 0;
                li {
                    margin: 0;
                }
            }
        }
    }
}